@import url('simplelightbox/dist/simple-lightbox.min.css');

body {
  background: #fff;
  width: 1128px;
  height: auto;
  margin: 0 auto;
}

.gallery {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  display: block;

}

.gallery-image {
  display: block;
  width: 360px;
  height: auto;
  transition: all 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.044);
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}

.home-link {
  position: absolute;
  top: 10px;
  left: 10px;
}